{% for fqdn,v in static_hosts.items() %}
delete service dhcp-server shared-network-name {{ v.network_name }} subnet {{ edgerouter_networks[v.network_name].subnet }} static-mapping {{ fqdn }}
set service dhcp-server shared-network-name {{ v.network_name }} subnet {{ edgerouter_networks[v.network_name].subnet }} static-mapping {{ fqdn }} ip-address {{ v.ip }}
set service dhcp-server shared-network-name {{ v.network_name }} subnet {{ edgerouter_networks[v.network_name].subnet }} static-mapping {{ fqdn }} mac-address {{ v.mac | lower }}
delete system static-host-mapping host-name {{ fqdn }}
set system static-host-mapping host-name {{ fqdn }} inet {{ v.ip }}
{% endfor %}
