{% include './templates/global.j2' %}


{% include './templates/defaults.j2' %}


{% include './templates/stats.j2' %}


{% include './templates/backend_not_found.j2' %}


{% include './templates/frontend_http.j2' %}


{% include './templates/frontend_https.j2' %}


{% include './templates/frontend_api.j2' %}


{% include './templates/backend_http.j2' %}


{% include './templates/backend_https.j2' %}


{% include './templates/backend_api.j2' %}
