# GLOBAL
{% include './templates/global.j2' %}


# DEFAULTS
{% include './templates/defaults.j2' %}


# STATS
{% include './templates/stats.j2' %}


# BACKEND_NOT_FOUND
{% include './templates/backend_not_found.j2' %}


# FRONTEND_HTTP
{% include './templates/frontend_http.j2' %}


# FRONTEND_HTTPS
{% include './templates/frontend_https.j2' %}


# FRONTEND_API
{% include './templates/frontend_api.j2' %}


# BACKEND_HTTP
{% include './templates/backend_http.j2' %}


# BACKEND_HTTPS
{% include './templates/backend_https.j2' %}


# BACKEND_API
{% include './templates/backend_api.j2' %}
